@import './normalize.css';

html {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #ededed;
  height: 100%;
  overflow: auto;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  color: rgb(59, 60, 64);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
